<h2 class="header-padding">Questions you might be exploring...</h2>

<p>We'd love to see you in person, but in the meantime, here are some articles we've written to help you begin exploring Christianity.</p>

<div class="cardCarousel" id="faqCarousel">

            <a href="/meaning-of-life" class="card">
                <p>What's the meaning of life?</p>
            </a>

            <a href="#" class="card">
                <p>Why do some people have faith?</p>
            </a>

            <a href="#" class="card">
                <p>Is there a God?</p>
            </a>

            <a href="#" class="card">
                <p>Can you believe in God and science?</p>
            </a>

            <a href="#" class="card">
                <p>If God is real, why is there suffering?</p>
            </a>

</div>