<h2>Meet the <span class="nowrap low-highlight">team</span>!</h2>
<p>We all attend St Paul's Anglican Church in Carlingford, and we're all passionate about helping people explore life's big questions.</p>
<p>We love meeting new people and hearing what people think about faith, God, and life.</p>
<p>We'd love to meet you!</p>
<small>Swipe to see more photos &rarr;</small>
<div class="imageCarousel">
    <div class="carouselImage"><img src="/images/emman_card.jpg"></div>
    <div class="carouselImage"><img src="/images/jm_group.jpg"></div>
    <div class="carouselImage"><img src="/images/jc_front.jpg"></div>
</div>


