<h2>Let us know you're <span class="low-highlight">interested!</span></h2>
<p>After you fill out the form below, we will send you a short welcome and final details for the next session.</p>
<div class="left-align">
<p><strong>Time</strong>: Tuesdays 7.30pm</p>
<p><strong>Location</strong>: St Paul's Anglican Church, Carlingford</p>
<p><strong>Address</strong>: 32 Moseley Street, Carlingford</p>
<p><strong>Parking</strong>: lots of free spots in the church carpark</p>
<p>It's <span class="low-highlight">free!</span></p>
</div>
<form id="registerForm">
<div class="simpleForm">
    <input type="hidden" name="formType" value="registration">
    <label for="name" class="mt-sm">Name</label>
    <input 
        class="simpleInput mt-sm"
        type="text" 
        name="name" 
        placeholder="Your name..."
    >

    <label for="contact" class="mt-sm">Phone or email<span class="requiredDot">*</span></label>
    <input 
        class="simpleInput mt-sm"
        type="text" 
        name="contact" 
        placeholder="Phone number or email..."
        required
    >

    <button type="submit" class="submitButton">
        <span>Submit</span>
        <span>
            <svg class="arrow arrowMove" width="30" height="30" viewBox="0 0 30 30">
                    <path d="M4 15h18M16 6l9 9-9 9"
                        fill="none"
                        stroke="currentColor" 
                        stroke-width="4" 
                        stroke-linecap="round" 
                        stroke-linejoin="round"/>
            </svg>
        </span>
    </button>
</div>
</form>
