<h2 class="header-padding">What <span class="pen-highlight">people</span> have been saying...</h1>

<div class="cardCarousel" id="testimonialCarousel">
    <div id="testimonial1" class="card">
        I didn't grow up in a Christian household, but exploring it for myself has changed my life for the better.
    </div>

    <div id="testimonial2" class="card">
        I didn't expect it to be so relaxed and welcoming. Pleasantly surprised.
    </div>

    <div id="testimonial3" class="card">
        The Q&A time is really interesting! Great to hear what questions other people have.
    </div>

    <div id="testimonial4" class="card">
        I love these sessions — great to see so many people!
    </div>
</div>

<div class="testimonial-progress">
    <div class="progress-dot active"></div>
    <div class="progress-dot"></div>
    <div class="progress-dot"></div>
    <div class="progress-dot"></div>
</div>

