<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explore Christianity</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>

<body>
  <div class="container">
    <header class="hero">
      <h1 class="hero-title hero-light">Explore</h1>
      <h2 class="hero-title hero-bold">Christianity</h2>
    </header>

    <section class="textbox">
      Resources to help you explore the Christian faith
    </section>

    <nav>
      <ul class="menu">
        {% for post in site.posts %}
          <li class="menuItem">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</body>

</html>